/.git
/.gradle
/.settings
/asm
/bin
/build
/config
/crash-reports
/eclipse
/logs
/mods
/resourcepacks
/saves
/screenshots
/.classpath
/.project
/copy
/git
options.txt
eula.txt
server.properties
usercache.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
